.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;

}
.search-bar:focus{
 outline: none;

}
.search-button{
  background-color: lightcoral;
  padding: 10px 20px ;
  border: none;
  color: #fff;
  outline: none;
  
}
.recipes{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}